.article {

}

.articleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  z-index: 20;
}

.buttons {
  button {
    margin-right: 20px;
    cursor: pointer;
  }
}
